.eachImage{
  margin: 10px 10px;
  padding: 3px 3px;
  width: 25vmin;
  height: 30vmin;
  text-align: center;
  display: inline-block;
  background: grey;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
  cursor: pointer;
}
.eachImage:hover{
  opacity: 0.5;
}
.eachImage:hover h3{
  color: black;
  text-shadow: 1px 1px 1px white;
}
h3{
  color: white;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
}
