.header{
  display: flex;
  margin: 2vh 2vw;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 9999;
  background: white;
  left:0;
  right:0;
  top:0;
  bottom: 80vh;
  margin: 0;
  padding: 0;
}
.logo{
  width: 8vw;
  height: 13vh;
  display: inline-block;
}
h1{
  display: inline-block;
  margin: 3vh 10vw;
}
h3{
  display: inline-block;
}